.header {
    grid-area: h;
    background-color:#316d92;
    border-radius: 5px;
    border: 1px solid #8d9ea5;
  }
  
.header img {
    width: 40px;
  }

.header img {
  margin: 8px 0px 0px 10px
}

.login_block {
  float: right;
}

.login_block a {
  color: white;
}
