.dialogs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* .dialogs__items {
    
} */

.dialogs__item {
    margin: 10px;
}

.dialogs__item a {
    text-decoration: none;
    color: white;
}

.dialogs__item.active {
    color: #031019;
}

/* .message {

} */

.message__item {
    margin: 10px;
}